* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.html {
    font-size: 62.5%;  
}

:root {
    --white: #fafafb;
    --light-grey: #EEEEEE;
    --dark-grey: #DDDDDD;

    --normal: #B0C5A4;
    --fire: #F2613F;
    --water: #378CE7;
    --grass: #0D9276;
    --electric: #EBE224;
    --ice: #40A2D8;
    --fighting: #E72929;
    --poison: #A040A0;        
    --ground: #EBC49F;
    --flying: #A890F0;
    --psychic: #FF5BAE;    
    --bug: #87A922;
    --rock: #C08B5C;
    --ghost: #DDDDDD;
    --dark: #1E0342;   
    --dragon: #F3B95F;
    --steel: #9BB0C1;    
    --fairy: #FF7ED4;
}

body {
    background-color: var(--light-grey);
    height: 100vh;
    width: 100vw;
}

header {
    margin: 0 0 2rem 0;
    box-shadow: 0 0 3rem -1rem #8c9a9f;
}

.title {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.title img {
    height: 7rem;
    width: 21rem;
}

nav {
    padding: 2rem;
}

ul, li {
    list-style-type: none;
}

.list-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    border: none;
    border-radius: 0;
}

.btn-header {
    padding: 10px;
    border-radius: 15px;
    text-transform: uppercase;
    box-shadow: 5px 3px 2px 1px darkgrey;
    cursor: pointer;
    transition: 0.1s;
}

button:hover{
    transform: scale(1.1);
}

main {
    margin: 2rem;
}

.all-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
}

.pokemon {
    height: 25rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
}

.pokemon h2 {
    font-family: "Platypi", serif;
    font-weight: bolder;
    border-radius: 10px;
    background-color: var(--white);
    padding: 0.4rem;
    align-self: flex-start;
}

.pokemon-image {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon-image img{
    max-width: 8rem;
}

.information-personal, .information-type, .information-shape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 7px;
    text-transform: uppercase;
}
.information-personal {
    column-gap: 0.5rem;
    flex-wrap: wrap;
}

.information-personal h1 {
    font-family: "Platypi", serif;
    font-weight: bolder;
}

.type {
    padding: 0.5rem;
    border-radius: 10px;
}
.shape {
    background-color: #EEE7DA;
    padding: 0.5rem;
    border-radius: 10px;
}

/* colors for pokemon types */

.view-all {
    background-color: #F6F1E9;
}

.normal {
    background-color: #B0C5A4;
}

.fire {
    background-color: #F2613F;
    color: var(--white);
}

.water {
    background-color: #378CE7;
    color: var(--white);
}

.grass {
    background-color: #0D9276;
    color: var(--white);
}

.electric {
    background-color: #EBE224;
}

.ice {
    background-color: #40A2D8;
    color: var(--white);
}

.fighting {
    background-color: #E72929;
    color: var(--white);
}

.poison {
    background-color: #A040A0;
    color: var(--white);
}

.ground {
    background-color: #EBC49F;
}

.flying {
    background-color: #A890F0;
    color: var(--white);
}

.psychic {
    background-color: #FF5BAE;
    color: var(--white);
}

.bug {
    background-color: #87A922;
}

.rock {
    background-color: #C08B5C;
    color: var(--white);
}

.ghost {
    background-color: #DDDDDD;
}

.dark {
    background-color: #1E0342;
    color: var(--white);
}

.dragon {
    background-color: #F3B95F;
}

.steel {
    background-color: #9BB0C1;
    color: var(--white);
}

.fairy {
    background-color: #FF7ED4;
}

/* color for pokemon cards */

.card-normal {
    background: linear-gradient(
        var(--normal) 40%, 
        var(--white) 25%
        );
}

.card-fire {
    background: linear-gradient(
        var(--fire) 40%, 
        var(--white) 25%
        );
} 

.card-water {
    background: linear-gradient(
        var(--water) 40%, 
        var(--white) 25%
        );
}

.card-grass {
    background: linear-gradient(
        var(--grass) 40%, 
        var(--white) 25%
        );
} 

.card-electric {
    background: linear-gradient(
        var(--electric) 40%, 
        var(--white) 25%
        );
}

.card-ice {
    background: linear-gradient(
        var(--ice) 40%, 
        var(--white) 25%
        );
} 

.card-fighting {
    background: linear-gradient(
        var(--fighting) 40%, 
        var(--white) 25%
        );
}

.card-poison {
    background: linear-gradient(
        var(--poison) 40%, 
        var(--white) 25%
        );
} 

.card-ground {
    background: linear-gradient(
        var(--ground) 40%, 
        var(--white) 25%
        );
}

.card-flying {
    background: linear-gradient(
        var(--flying) 40%, 
        var(--white) 25%
        );
} 

.card-psychic {
    background: linear-gradient(
        var(--psychic) 40%, 
        var(--white) 25%
        );
}

.card-bug {
    background: linear-gradient(
        var(--bug) 40%, 
        var(--white) 25%
        );
} 

.card-rock {
    background: linear-gradient(
        var(--rock) 40%, 
        var(--white) 25%
        );
}

.card-ghost {
    background: linear-gradient(
        var(--ghost) 40%, 
        var(--white) 25%
        );
} 

.card-dark {
    background: linear-gradient(
        var(--dark) 40%, 
        var(--white) 25%
        );
}

.card-dragon {
    background: linear-gradient(
        var(--dragon) 40%, 
        var(--white) 25%
        );
} 

.card-steel {
    background: linear-gradient(
        var(--steel) 40%, 
        var(--white) 25%
        );
}

.card-fairy {
    background: linear-gradient(
        var(--fairy) 40%, 
        var(--white) 25%
        );
} 

.card-normal:hover {
    background: linear-gradient(
        var(--normal) 40%, 
        #F7F6BB 25%
        );
}

.card-fire:hover {
    background: linear-gradient(
        var(--fire) 40%, 
        #F7F6BB 25%
        );
}

.card-water:hover {
    background: linear-gradient(
        var(--water) 40%, 
        #F7F6BB 25%
        );
}

.card-grass:hover {
    background: linear-gradient(
        var(--grass) 40%, 
        #F7F6BB 25%
        );
}

.card-electric:hover {
    background: linear-gradient(
        var(--electric) 40%, 
        #F7F6BB 25%
        );
}

.card-ice:hover {
    background: linear-gradient(
        var(--ice) 40%, 
        #F7F6BB 25%
        );
}
.card-fighting:hover {
    background: linear-gradient(
        var(--fighting) 40%, 
        #F7F6BB 25%
        );
}

.card-poison:hover {
    background: linear-gradient(
        var(--poison) 40%, 
        #F7F6BB 25%
        );
}

.card-ground:hover {
    background: linear-gradient(
        var(--ground) 40%, 
        #F7F6BB 25%
        );
}

.card-flying:hover {
    background: linear-gradient(
        var(--flying) 40%, 
        #F7F6BB 25%
        );
}

.card-psychic:hover {
    background: linear-gradient(
        var(--psychic) 40%, 
        #F7F6BB 25%
        );
}

.card-bug:hover {
    background: linear-gradient(
        var(--bug) 40%, 
        #F7F6BB 25%
        );
}

.card-rock:hover {
    background: linear-gradient(
        var(--rock) 40%, 
        #F7F6BB 25%
        );
}

.card-ghost:hover {
    background: linear-gradient(
        var(--ghost) 40%, 
        #F7F6BB 25%
        );
}
.card-dark:hover {
    background: linear-gradient(
        var(--dark) 40%, 
        #F7F6BB 25%
        );
}

.card-dragon:hover {
    background: linear-gradient(
        var(--dragon) 40%, 
        #F7F6BB 25%
        );
}

.card-steel:hover {
    background: linear-gradient(
        var(--steel) 40%, 
        #F7F6BB 25%
        );
}

.card-fairy:hover {
    background: linear-gradient(
        var(--fairy) 40%, 
        #F7F6BB 25%
        );
}